<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd" default-autowire="byName" default-lazy-init="false">
    <!--注册任务器和触发器到schedule中-->

    <!--定义任务器-->
    <bean id="quartzJob" class="com.stu.quartz.chapter03.QuartzJob3"/>

     <!--定义调用对象和调用对象的方法-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value = "com.stu.quartz.chapter03.MyDetailQuartzJobBean" />
        <property name="jobDataAsMap">
            <map>
                <entry key="targetObject" value-ref="quartzJob" />
                <entry key="targetMethod" value="runJob" />
            </map>
        </property>
    </bean>


    <!--定义触发器-->
    <!--<bean id="testTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">-->
        <!--&lt;!&ndash; see the example of method invoking job above &ndash;&gt;-->
        <!--<property name="jobDetail" ref="jobDetail"/>-->
        <!--&lt;!&ndash; 1 seconds &ndash;&gt;-->
        <!--<property name="startDelay" value="1000"/>-->
        <!--&lt;!&ndash; repeat every 3 seconds &ndash;&gt;-->
        <!--<property name="repeatInterval" value="3000"/>-->
    <!--</bean>-->

    <!-- 定义触发时间 -->
    <bean id="testTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail" ref="jobDetail" />
    <property name="cronExpression" value="0/3 * * * * ?" />
    </bean>

    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="configLocation" value="classpath:03/quartz3.properties" />
        <property name="triggers">
            <list>
                <ref bean="testTrigger"/>
            </list>
        </property>
    </bean>

    </beans>